* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.faqs{
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  margin-top: 8rem;
  font-family: 'Expletus Sans', sans-serif;
}
.main-div {
  width: 100vw; 
  max-width: 1200px;
  padding: 70px 20px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  gap: 20px; 
}

.column {
  flex: 1; /* Each column takes up equal width */
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between the FAQ items */
  min-width: 550px;
}

.main-div h1 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 5rem;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-bottom: 50px;
  color: white;
}

.faq-item {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.10) 0 1px 4px;
}

.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  background-color: #ffcba4;
  transition: background-color 0.3s;
}

.main-heading:hover {
  background-color: #ff6347;
}

.main-heading h3 {
  flex: 1;
  margin-left: 20px;
  font-family: 'Amiko', sans-serif;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2rem;
  color: black;
}

.answers {
  padding: 30px 20px 40px 20px;
  font-size: 2rem;
  word-spacing: 2px;
  font-weight: 400;
  line-height: 1.7;
  background: #ff6347;
  color: black;
  font-family: "Expletus Sans";
}

@media (max-width: 1024px) {
  .faqs {
    font-size: 3rem;
    margin-top: 4rem;
  }

  .main-div {
    padding: 40px 10px;
    width: 80%;
  }

  .main-div h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 20px;
  }

  .main-heading h3 {
    font-size: 1.5rem;
  }

  .faq-item {
    max-width: 90%;  /* Decrease width on medium screens */
  }
}

/* Smaller Screens */
@media (max-width: 768px) {
  .faqs {
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .main-div {
    padding: 30px 10px;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .main-div h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .main-heading {
    padding: 10px 15px;
  }

  .main-heading h3 {
    font-size: 1.2rem;
  }

  .answers {
    font-size: 1.2rem;
    padding: 15px;
  }

  .faq-item {
    max-width: 85%; /* Decrease width on smaller screens */
  }
}

/* Very Small Screens */
@media (max-width: 480px) {
  .faqs {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-left: 13rem;
    width: 70%;
  }

  .main-div {
    padding: 20px 5px;
    width: 1%;
    margin-left: 30rem;
  }

  .main-div h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .main-heading {
    padding: 10px 10px;
  }

  .main-heading h3 {
    font-size: 1rem;
  }

  .answers {
    font-size: 1rem;
    padding: 10px;
  }

  .faq-item {
    max-width: 90%; /* Further decrease width on very small screens */
  }
}