.signup {
    position: relative;
    width: 100%;
    max-width: 900px;
    background: url('../Images/DarkCoral.png') no-repeat center center;
    background-size: cover;
    border-radius: 8px;
    padding: 2rem;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    margin-bottom: 3rem;
    color: #fff;
    z-index: 1;
    height: 28vw;
}

.signup-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    margin-top: 2rem;
}

.create {
    text-align: center;
    margin-bottom: 1.5rem;
}

.create-heading {
    font-size: 4rem;
    margin: 0;
    font-family: 'Expletus Sans', sans-serif;
}

.create-p {
    font-size: 3rem;
    font-family: 'Expletus Sans', sans-serif;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -1.5rem;
}

.signup-form > input {
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    color: #1d2129;
    margin-top: 1rem;
    padding: 0.7rem 0.75rem;
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
    font-family: 'Expletus Sans', sans-serif;
}
.signup-or {
    font-size: 2rem;
    text-align: center;
    margin-left: 24rem;
    color: #333333;
    font-family: 'Expletus Sans', sans-serif;
}

.button {
    background: linear-gradient(#333333, #666666);
    color: white;
    font-size: 1.5rem;
    padding: 0.7rem;
    margin-top:1rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-family: 'Expletus Sans', sans-serif;
}

.button:hover{
    background:linear-gradient(#222222,#444444);
}

.signup-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: -11rem;
    margin-bottom: -3.4rem;
    margin-right: -17rem;
    z-index: 2;
}

.signup-image img {
    max-width: 145%;
    /* width: 70vw; */
    border-radius: 8px;
    height: 33vw;
}

@media (max-width: 768px) {
    .signup {
        flex-direction: column;
        height: auto;
    }

    .signup-left {
        padding-right: 0;
    }

    .signup-form {
        width: 100%;
    }

    .signup-image {
        margin-top: 1rem;
        margin-right: 0;
    }
    .signup-or{
        text-align: center;
    }
}

@media (max-width: 480px) {
    .signup {
        width: 90%;
        padding: 1rem;
    }

    .signup-form > input, .signup .button {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .signup-image {
        margin-top: -1rem;
    }
    .signup-or{
        text-align: center;
    }
}
