* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 20px;
}

.abt-card {
  padding: 40px;
  max-width: 1000px;
  text-align: center;
}

.abt-heading h1 {
  font-size: 6rem;
  margin-bottom: 20px;
  color: white;
  font-family: 'Expletus Sans', sans-serif;
  font-weight: bold;
}

.abt-desc p {
  font-size: 2.5rem; 
  color: white;
  line-height: 1.6;
  font-family: 'Amiko', sans-serif; 
  font-weight: 500;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .about {
    margin-top: 0; /* Adjust or remove top margin for medium screens if needed */
  }

  .abt-card {
    padding: 30px;
  }
  
  .abt-heading h1 {
    font-size: 4rem;
  }
  
  .abt-desc p {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .about {
    height: auto; /* Adjust height for smaller screens */
    padding: 20px 10px; /* Reduced padding for smaller screens */
    margin-top: -15rem;
  }
  
  .abt-card {
    padding: 20px;
  }
  
  .abt-heading h1 {
    font-size: 2.5rem;
  }
  
  .abt-desc p {
    font-size: 1.5rem; /* Adjusted for readability */
  }
}

@media (max-width: 480px) {
  .about {
    margin-top: -20rem;
  }

  .abt-card {
    padding: 15px;
  }
  
  .abt-heading h1 {
    font-size: 2rem;
  }
  
  .abt-desc p {
    font-size: 1.2rem; /* Adjusted for readability */
  }
}